<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="components.css">
</head>
<body>
    <section>
        <h2>Text styles</h2>
        <h1 class="heading">Heading</h1>
        <h3 class="card-heading">Card heading</h3>
        <p class="card-text">Card text</p>
        <h3 class="link-heading">Link heading</h3>
        <a class="link-text">Link text</a>
    </section>
    <section>
        <h2>Buttons</h2>
        <button class="button">Knapp</button>
    </section>
    <section>
        <h2>Components</h2>
        <h3>Lite kort</h3>
        <article class="card">
            <img src="../images/char-1.png" class="card__image" />
            <h2 class="card-heading">Astronaut</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi officia voluptate molestias suscipit. Autem sit iste fugiat, dolores perferendis animi harum similique nam. Sequi harum quaerat dignissimos eum? Ad, consequuntur?</p>
            <button class="button">Klicka mig</button>
        </article>
        <h3>Stort kort</h3>
        <article class="card-big">
            <figure>
                <img src="../images/char-5.png" />
            </figure>
            <section>
                <h2 class="card-heading">Clown</h2>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas odit beatae accusantium laborum deserunt obcaecati quam necessitatibus, ab eos optio repellendus nesciunt quia perspiciatis neque expedita dolor, excepturi aspernatur saepe!</p>
                <button class="button">Add to cart</button>
            </section>
        </article>
    </section>
</body>
</html>